.ksitebar {
  position: relative;
  width: 100%;
}
/*Style the heading*/
h1 {
  position: absolute;
  top: 35px;
  left: 0;
  font-family: 'Ewert', cursive;
  font-size: 60px;
}
body {
  background-color: rgb(204, 232, 255);
}

p {
  font-family: 'Open Sans', sans-serif;
}
/*Create a horizontal list with spacing*/
li {
  display:inline-block;
  width: 33%;
  margin: auto;
}
/*Style for menu links*/
li a {
  display:block;
  width:100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: 'Open Sans', sans-serif;
  color: fff;
  background: #86ddfc;
  text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
  background: #4286f4;
}
/*Style for dropdown links*/
li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
  display: none;
}
/*Make dropdown links vertical*/
li ul li {
  display: block;
  float: none;
}
/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #000000;
  background: #85dcfc;
  text-align: center;
  padding: 10px 0;
  display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
  display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  ul {
      position: static;
      display: none;
  }
  /*Create vertical spacing*/
  li {
      margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul li, li a {
      width: 100%;
  }
  /*Display 'show menu' link*/
  .show-menu {
      display:block;
  }
}
